/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* TroupeIT brand colors - matching troupeitv2 */
:root {
  --ifm-color-primary: #348fe2;
  --ifm-color-primary-dark: #1f7ed5;
  --ifm-color-primary-darker: #1d77c9;
  --ifm-color-primary-darkest: #1862a6;
  --ifm-color-primary-light: #4d9ee6;
  --ifm-color-primary-lighter: #5aa5e8;
  --ifm-color-primary-lightest: #7bb7ed;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(52, 143, 226, 0.1);
}

/* Dark mode - matching troupeitv2 dark theme */
[data-theme='dark'] {
  --ifm-color-primary: #6ea8fe;
  --ifm-color-primary-dark: #4d93fd;
  --ifm-color-primary-darker: #3c88fd;
  --ifm-color-primary-darkest: #0a66fc;
  --ifm-color-primary-light: #8fbdfe;
  --ifm-color-primary-lighter: #a0c8ff;
  --ifm-color-primary-lightest: #d1e3ff;
  --docusaurus-highlighted-code-line-bg: rgba(110, 168, 254, 0.3);
}
